{{>layouts/header}}

<h1>&nbsp;&nbsp;&nbsp;&nbsp;<strong>"Id"</strong> 를 통해 데이터 조회하기</h1>

<table class="table">
    <thread>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
    </thread>
    <tbody>
        {{#articles}}
        <tr>
            <th>{{id}}</th>
            <th>{{title}}</th>
            <th>{{content}}</th>
        </tr>
        {{/articles}}
    </tbody>
</table>

<a href="/articles" class="btn btn-primary"><strong>목록</strong></a>
<a href="/articles/{{articles.id}}/edit" class="btn btn-warning"><strong>수정</strong></a>
<a href="/articles/{{articles.id}}/delete" class="btn btn-danger"><strong>삭제</strong></a>

{{>layouts/footer}}